html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong {
	font-weight: bold;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

*, :after, :before {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%; 
	max-height: 100%; 
	font-family: Sans-serif;
	line-height: 1.5;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.btn {
	display: inline-block;
	padding: 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: none;
	font-size: 0;
	outline: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	line-height: 1;
}
.btn:disabled {
	background: #ccc !important;
	color: #fff !important;
}
.btn_blue {
	background: #375ee7;
}
.txt_blue {
	color: #5f80e4 !important;
}

/* Customize the label (the container) */
.custom_input {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  line-height: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
}

/* Hide the browser's default checkbox */
.custom_input input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
/* .custom_input:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
.custom_input input:checked ~ .checkmark {
  background-color: #375ee7;
  border-color: #375ee7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
}

/* Show the checkmark when checked */
.custom_input input:checked ~ .checkmark:after {
  border-color: #fff;
}

/* Style the checkmark/indicator */
.custom_input .checkmark:after {
  left: 8px;
  top: 4px;
  width: 7px;
  height: 11px;
  border: solid #aaa;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#main {
	position: absolute;
	top: 58px;
	bottom: 60px;
	left: 0; 
	right: 0;
	overflow: auto;
	background: #f2f4f7;
}
#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 58px; 
	overflow: hidden;
	background: #f2f4f7;
}
#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px; 
	overflow: hidden;
}
#header .innertube {
	position: relative;
	height: 100%;
	margin: 0 24px;
}

#header h1 {
	font-size: 18px;
	font-weight: bold;
	line-height: 58px;
}
#header .btn_close {
	position: absolute;
	right: 0;
	top: 0;
	width: 18px;
	height: 100%;
	background: url('/assets/images/sms/ico_close.png') center no-repeat;
	background-size: 18px;
}
#main .sec1 {
	padding: 16px 24px;
	background: #fff;
	border: solid #d1d8e4;
	border-width: 1px 0;
}
#main .sec2 {
	padding: 0 24px;
	margin: 4px 0 30px; 
	background: #fff;
	border: solid #d1d8e4;
	border-width: 1px 0;
}
#main .info {
	font-size: 12px;
	margin-bottom: 27px;
}
#main .agree_all {
	font-size: 16px;
}
#main .agree_list > li {
	border-bottom: 1px solid #eee;
}
#main .agree_list > li:last-child {
	border-bottom: none;
}
#main .agree_list > li:last-child .content {
	margin-bottom: 40px;
}
#main .agree_list .agree {
	position: relative;
	margin: 12px 0;
	font-size: 15px;
	color: #3f3f3f;
	padding-right: 20px;
}
#main .agree_list .btn {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}
#main .agree_list .btn_show_all {
	font-size: 12px;
	text-decoration: underline;
	background: #fff;
	color: #999;
}
#main .agree_list .btn_show_detail {
	width: 16px;
	background: #fff url('/assets/images/sms/ico_arrow_down.png') center no-repeat;
	background-size: 14px 7.5px;
}
#main .agree_list .btn_show_detail.active {
	background-image: url('/assets/images/sms/ico_arrow_up.png');
}
#main .agree_list .content {
	display: none;
	overflow: auto;
	max-height: 220px;
	padding: 15px;
	background: #f7f7f7;
	font-size: 12px;
	color: #666;
}
#main.sub {
	background: #fff;
	bottom: 0;
}
#main .sub_title {
	position: relative;
	height: 44px;
	line-height: 44px;
	padding: 0 24px;
	font-size: 16px;
	background: #5f80e4;
	text-indent: 25px;
	color: #fff;
}
#main .sub_title .btn_prev {
	position: absolute;
	top: 0;
	left: 24px;
	width: 25px;
	height: 100%;
	background: url('/assets/images/sms/ico_arrow_prev.png') left center no-repeat;
	background-size: 10px 17px;
}
#main .sub_content {
	position: absolute;
	top: 44px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	padding: 18px 24px 26px;
	font-size: 15px;
	color: #3f3f3f;
}
#main .end {
	position: absolute;
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;
}
#main .end .end_inner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#main .end .end_inner img {
	vertical-align: middle;
}
#main .end .bg {
	margin-bottom: 43px;
}
#main .end .end_txt {
	font-size: 26px;
	color: #3f3f3f;
}
#footer .btn_agree,
#footer .btn_end {
	width: 100%;
	height: 100%;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}
